<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">		
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>
<body>
		
	<div class="container">
		<div>
			<img class="mx-auto d-block" src="burger.png" style="height:20%;width:20%;padding:5px;">
			<h1 class="text-center ranchers">Bootcamp Burgers</h1>
		</div>
		
		<br><br>

		{{{ body }}}

	</div>
		
	</body>
</html>