li {
  padding: 5px;
  margin: 5px;
  background: #fd2e2e;
}

.form-group {
  margin-bottom: 5px;
  display: inline-block
}

.ranchers {
  font-family: 'Ranchers', cursive;
  letter-spacing: 1px;
}

body {
  text-align: center;
  background-color: #e6f8478a;
}